<nav class="navbar navbar-expand-md navbar-light shadow-sm samuraimart-header-container">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "/images/logo.jpg" %>
  <% end %>
</nav>
