<header class="sticky-top bg-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <% if user_signed_in? %>
        <a class="col navbar-brand" href="/users/mypage"><span>Working</span></a>
      <% else %>
        <a class="col navbar-brand" href="/"><span>Working</span></a>
      <% end %>
      <div class="d-flex flex-column mt-2">
        <button class="col-3 align-self-center navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="mx-2">
          <%= link_to mypage_users_path,class: 'nav-link text-dark border rounded rounded-3 bg-white' do %>
            <i class="fas fa-user"></i>マイページ
          <% end %>
        </li>
        <li class="mx-2">
          <%= link_to destroy_user_session_path,method: :delete,class: 'nav-link text-dark border rounded rounded-3 bg-white' do %>
            <i class="fas fa-sign-out-alt"></i>ログアウト
          <% end %>
        </li>
      <% else %>
        <li class="text-center mx-2">
          <%= link_to "新規登録", new_user_registration_path,class: 'nav-link text-dark border rounded rounded-3 bg-white' %>
        </li>
        <li class="text-center mx-2">
          <%= link_to "ログイン", new_user_session_path,class: 'nav-link text-dark border rounded rounded-3 bg-white' %>
        </li>
      <% end %>
      </ul>
    </div>
  </nav>
</header>